 /*  intro */
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            font-family: "Space Grotesk", "Space Mono" ;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* Background video */
        #bg-video {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            z-index: -1;

            /* visual styling */
            opacity: 1;
            filter: grayscale(100%) brightness(0.6) contrast(1.5);
        }

        /* Center content */
        .content-container {
            position: relative;
            text-align: center;
            z-index: 2;
            opacity: 0;
            animation: fadeIn 2s ease-out forwards;
        }

        /* The button */
        .start-btn {
            padding: 15px 40px;
            background-color: #000;
            font-family: "Space Grotesk";
            color: #fff;
            text-decoration: none;
            font-size: 1.2rem;
            letter-spacing: 2px;
            border-radius:10px;
            transition: 0.3s ease;
            cursor: pointer;
        }

        .start-btn:hover {
            background: #fff;
            color: #000;
            border: 1px solid white;
            border-radius:30px;
        }

        /* Fade animation */
        @keyframes fadeIn {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
   
