/* intro */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Space Grotesk", "Space Mono";
    background-color: #000; /* Black Background */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Background video - Initially Hidden */
#bg-video {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1; 

    /* Visual styling */
    opacity: 1;
    filter: grayscale(100%) brightness(0.6) contrast(1.5);
}

/* Center content */
.content-container {
    position: relative;
    z-index: 2;
    opacity: 0;
    /* Only animate the entrance (fadeIn), not the exit */
    animation: fadeIn 2s ease-out forwards; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
}

/* The GIF styling */
.main-gif {
    width: 250px; 
    height: auto;
    display: block;
}

/* The button */
.start-btn {
    padding: 15px 40px;
    background-color: #000;
   border: 1px solid white;
    font-family: "Space Grotesk";
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}

.start-btn:hover {
    background: #fff;
    color: #000;
    border: 1px solid white;
    border-radius: 30px;
}

/* Fade animation (only for entrance) */
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}